# Order Service DB
ORDER_DB_USER=orders_user
ORDER_DB_PASSWORD=orders_pass
ORDER_DB_NAME=orders_db

# Payment Service DB
PAYMENT_DB_USER=payments_user
PAYMENT_DB_PASSWORD=payments_pass
PAYMENT_DB_NAME=payments_db